html,
body {
  margin: 0;
  padding: 0;
}
/* Add a black background color to the top navigation */
.topnav {
  top: 0;
  width: "100%";
  background-color: #f2d2aa;
  overflow: hidden;
}

/* Style the links inside the navigation bar */

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #ddd;
  background-color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #000000;
  color: white;
}
/* Align tabs to the right on nav bar */
.topnav-center {
  margin: 0 auto;
}

.topnav-right {
  float: right;
}
div {
  font-family: Georgia;
}
h1 {
  font-family: Georgia;
}
h2 {
  font-family: Georgia;
}
h3 {
  font-family: Georgia;
}
p {
  font-family: Georgia;
}
